@import "tailwindcss";
@plugin "daisyui";

@font-face{
  font-family: "Vaz";
  src:local("Vaz"),
  url('./assets/fonts/Vaz.ttf') 
}

:root {
  font-family: Vaz, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* overflow-x: hidden; */
  /* scrollbar-gutter:stable; */
}

@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}

@media print {

  @page {
    size: landscape;
    margin: 10mm;
  }

  body * {
    visibility: hidden;
  }

  /* 2. Un-hide ONLY the section we marked as 'print-only' */
  .print-only, .print-only * {
    visibility: visible;
  }

  /* 3. Move the 'print-only' section to the top-left of the paper */
  .print-only {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;/* Ensure clean background */
  }

  /* 4. Force Table to expand (Fix scroll cutting off) */
  .overflow-x-auto {
    overflow: visible !important;
  }
  
  /* 5. Ensure headers and colors print correctly */
  th {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #f3f4f6 !important; /* Light gray header */
    color: black !important;
  }

  /* Ensure table borders print clearly */
  table, th, td {
    border: 1px solid black !important;
    font-size: 10pt !important; /* Smaller font to fit paper */
    page-break-inside: avoid;   /* Don't cut rows in half */
  }

  /* Force headers to stay readable */
  th {
    /* background-color: #f0f0f0 !important; */
    -webkit-print-color-adjust: exact; /* Force background colors to print */
  }
}